<link rel='stylesheet' href='/css/homepage.css' />

{{!-- <div class="video-container">
    <video autoplay muted loop id="bg-video">
        <source src="/assets/mp4/gradient-bkg.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div> --}}

<h1 class="text-center justify-content-center">Welcome to Your Lists</h1>

<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-4 indi-card">
            <a href="/list/1" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-image: url('/assets/images/sparrow.jpg'); background-size:cover; background-repeat: no-repeat;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Movies</h5>
                        <p class="card-text">Where is that popcorn?</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4 indi-card">
            <a href="/list/2" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-image: url('/assets/images/animes.jpg'); background-size:cover; background-repeat: no-repeat;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Shows & Anime</h5>
                        <p class="card-text">Time to get our binge on!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4 indi-card" id="game">
            <a href="/list/3" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-image: url('/assets/images/pokemons.jpg'); background-size:cover; background-repeat: no-repeat;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Video Games</h5>
                        <p class="card-text">Get comfy and ready to game!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>