<head>
<link rel='stylesheet' href='/css/homepage.css' />
</head>

<h1 class="justify-content-center">Welcome to Your Lists</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 indi-card" data-images='["/assets/images/movies/sparrow.jpg", "/assets/images/movies/kikis.jpg", "/assets/images/movies/terminate.jpg", "/assets/images/movies/marvel.jpg", "/assets/images/movies/anna.jpg", "/assets/images/movies/joker.jpg"]'>
            <a href="/view/list/movie" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-size:cover; background-repeat: no-repeat;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Movies</h5>
                        <p class="card-text">Where is that popcorn?</p>
                    </div>
                </div>
            </a>        
        </div>

        <div class="col-4 indi-card" data-images='["/assets/images/shows/animes.jpg", "/assets/images/shows/kakashi.jpg", "/assets/images/shows/ham.jpg", "/assets/images/shows/doctor.jpg", "/assets/images/shows/gon.jpg", "/assets/images/shows/d-ball.jpg"]'>
            <a href="/view/list/show" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-size:cover; background-repeat: no-repeat;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Shows & Anime</h5>
                        <p class="card-text">Time to get our binge on!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4 indi-card" data-images='["/assets/images/games/bloodborne.jpg", "/assets/images/games/pokemons.jpg", "/assets/images/games/Left4Dead.jpg", "/assets/images/games/witcher.jpg", "/assets/images/games/halo.jpg", "/assets/images/games/f4.jpg"]'>
            <a href="/view/list/game" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-size:cover; background-repeat: no-repeat;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Video Games</h5>
                        <p class="card-text">Get comfy and ready to game!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="/js/homepage.js"></script>



