<link rel='stylesheet' href='/css/homepage.css' />

<h1 class="text-center justify-content-center">Welcome to Your Lists</h1>
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-4 indi-card" id="game">
            <a href="/lists/1" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-image: url('https://www.suckerpunch.com/wp-content/uploads/2019/12/GOTkeywidecrop.jpg'); background-size:cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Video Games</h5>
                        <p class="card-text">Time to pick up the controller</p>
                        
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4 indi-card">
            <a href="/lists/2" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-image: url('https://cdn.marvel.com/content/1x/avengersendgame_lob_mas_mob_01.jpg'); background-size:cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Movies</h5>
                        <p class="card-text">Wheres the popcorn</p>
                        
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-4 indi-card">
            <a href="/lists/3" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-image: url('https://multiverseofcolor.com/wp-content/uploads/2023/10/yd2QL2Xnoe8Kyx2jhifMNd.jpg'); background-size:cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Anime</h5>
                        <p class="card-text">Lets Binge</p>
                        
                    </div>
                </div>
            </a>
        </div>
        {{!-- <div class="col-4 indi-card">
            <a href="#" class="card-link">
                <div class="card mx-auto" style="width: 18rem; background-image: url('https://m.media-amazon.com/images/I/71Iu4NDoePL._SL1500_.jpg'); background-size:cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Books</h5>
                        <p class="card-text">Time to read</p>
                    </div>
                </div>
            </a>
        </div> --}}
    </div>
</div>