{{!-- views/homepage.handlebars --}}
{{!-- Extend the main layout --}}
{{#extend 'main'}}

{{!-- Define the content for the body --}}
{{#content 'body'}}
<div class="container">
    <h1>Welcome to your List!</h1>
    <p>Track all your nerdy hobbies in one place.</p>
</div>
{{/content}}

{{/extend}}