<link rel='stylesheet' href='/css/login.css' />

<form id="login-form">
    <div class="mb-3 form-group">
        <label for="inputEmail" class="form-label">Email</label>
        <div class="col-md-6 mx-auto">
            <input type="email" class="form-control" id="inputEmail">
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="inputPassword" class="form-label">Password</label>
        <div class="col-md-6 mx-auto">
            <input type="password" class="form-control" id="inputPassword">
        </div>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
        <button class="btn btn-dark my-5 btn-lg" type="submit">Login</button>
        <a class="mx-auto my-1" href="/register">Create an account</a>
    </div>
</form>

<script src='/js/login.js'></script>