/* CSS for mp4 video */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

body {
    /* for mp4 background */
    position: relative;
    z-index: 1;

    /* Disable scrolling */
    overflow: hidden;

    background-color: rgb(42, 122, 102);
}

h1 {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline;
    text-underline-offset: 7px;
    background: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: 2.5rem;
}

.container {
    min-height: 75vh;
    display: flex;
    flex-direction: row; /* Make the main axis vertical */
    flex-wrap: wrap;
    justify-content: center; /* Center items along the main axis */
    align-items: center; /* Center items along the cross axis */
    border-radius: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indi-card {
    padding: 25px;
    
}

.card {
    position: relative;
    width: 375px !important;
    height: 450px;
    display: block;
    box-shadow: none;
    transition: transform 0.3s ease-in-out;     
    flex: 1 0 375px;
    margin: 10px;
    border-radius: 20px;

}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    .card {
        flex: 1 0 100%;
    }
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.card-body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130%;
    color: white;
    background-color: transparent;
}

.card .btn {
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}

.card:hover .btn {
    visibility: visible;
    transform: scale(1.05);
    opacity: 1;
}

.card img {
    margin-left: 20px;
}