/* CSS for mp4 video */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

/* Start of Main Login - Sign Up CSS */
body {
    position: relative;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #979797;
    color: black;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-label {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin-top: 20px;
}

.bottom-log-btn {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.bottom-log-btn:hover {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(106, 106, 106);
    /* text-shadow: none; */
}

.login-title {
    margin-bottom: 3%;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.login-btn{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #42315ce9 !important;
}

/* Register Page */
.sign-up-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}